/vendor/
/node_modules/

.phpunit.cache/*
.phpunit.result.cache
/coverage/*

/build/

docs/.vitepress/dist
docs/.vitepress/cache



*/**/.DS_Store
*/**/.idea/*
*/**/.vscode/*
*/**/.phpstorm.*
.vscode/*
